body {
	background: black url(/images/bg_left_top.jpg) no-repeat left top;
	font-family: "Arial",  san-serif;
	font-size: x-small;
	padding:0px;
	margin:0px;
	line-height:160%;
	color: white;
}

#container {
	font-size: 110%;
}
a {
	color:#B3DFE8;	

	}

a img {
	border: none;
}
	
a.button {
	color:#51732B;
	padding:2px 3px 1px 3px;
	text-transform:uppercase;
	font-weight:normal;
	background-color:#CCFF42;
}

p {
	color:#EEE;
	padding:0px;
	margin:0.4em 10px 0.6em 0px;
}

#header h1 {
	color:#CCFF42;
	padding:0px;
	margin:0px;
}

#header h1 a {
	color:#286180;
	display:block;
	position:absolute;
	top:40px;
	left:20px;
	font-weight:bold;
	text-transform:lowercase;
}


h2 {
	text-transform:capitalize;
	color:#CCFF42;
	margin:0px;
	padding: 0 0 0.2em 0;
}

h1 a, h2 a, h3 a {
	text-decoration:none;
	}

h3 {
	font-weight: bold;
	color:#CCFF42;
	padding: 0;
	margin:0px 0px 0.5em 0px;
	}
h4 {
	margin: 0;
}
.error, .notice {
	background-color:#E7FFA8;
	color:#DB1600;
	padding: 3px;
}

/* right column */
a.plus {
	color:#CCFF42;
	padding:0;
	text-transform:uppercase;
	text-decoration: none;
}

/* featured sites */
div#main p.screenshot {
	padding:5px 10px 5px 0px;
	margin:0px;
	float:left;
}

div#main p.screenshot a img {
	border:0px;
	padding:3px;
	background-color:#DDD;
}


/* layout */
#header {
	height:160px;
}
#container {
	width:1020px;
	position:relative;
  clear:both;
  float:left;
	overflow:hidden;
}
/* many thanks to http://matthewjamestaylor.com/blog/ultimate-3-column-holy-grail-pixels.htm
   for the css 3-column layout */
#col-main {
	float:left;
	width:200%;
	margin-left:-195px; 	/* Width of right column */
	position:relative;
	right:100%;
}
#col-left {
	float:left;
	width:100%;
	margin-left:-50%;
	position:relative;
	left:440px;
}
#wrap-main {
	float:left;
	width:50%;
	position:relative;
	right:210px;        	/* Width of left column */
	padding-bottom:1em;
}
#main {  
	margin:0 225px;
  position:relative;
	left:200%;
	overflow:hidden;
}
#left {
	float:left;
	float:right;			/* This overrides the float:left above */
	width:210px;        	/* Width of left column content (left column width minus left and right padding) */
	position:relative;
	right:15px;
}
#right {
	float:left;
	float:right;
	width:170px;
	margin-right:40px;	
	position:relative;
	left:50%;
}

/* info block on single site view */
div#entry_details {
	text-align:center;
	margin:6em 5px 7px 10px;
	padding-bottom:5px;
	background:transparent url(/images/details_bottom.gif) no-repeat left bottom;
}


div#entry_details p, div#entry_details h2 {
	width:160px;
	line-height:15px;
	padding:0.2em 0.5em;
	margin:0px;
	text-transform:uppercase;
	font-weight:normal;
	border-bottom:1px solid #CCC;
}

div#entry_details p {
	color:#333;
	background-color:#EEE;
	border-top:1px solid #FFF;
}

div#entry_details h2 {
	color:#999;
	background:transparent url(/images/details_top.gif) no-repeat left top;
}

div#entry_details p a {
	color:#286180;
	text-decoration:none;
}

div#entry_details p a:hover {
	color:#387190;
}

div#entry_details p.screenshot {
	padding:5px 0.5em 5px 0.5em;
	background-color:#DDD;
}

div#entry_details p.screenshot a img {
	border:0px;
}


ul.item_list {
	list-style:none;
	padding:0px;
	margin:0.5em 0px 2em 0px;
}

ul.item_list li {
	padding:0.2em 0px;
	margin:0px;
}

ul.item_list li a {
	color:#666;
	text-decoration:none;	
}

ul.item_list li a:hover {
	color:#AAA;
}

ul.item_list li a span.comment_count {
	color:#444;
	margin-left:0.3em;
}

ul.item_list li a:hover span.comment_count {
	color:#CCFF42;
}


/* top navigation */
#top_navigation {
	z-index:99;
	position:absolute;
	top:30px;
	left:480px;
}

#top_navigation ul {
	list-style:none;
	margin:0 0 5px 0;
	padding:0px;
}

#top_navigation ul li {
	display:inline;
	margin-right:0.8em;
	color:#51732B;
	padding:2px 3px 1px 3px;
	text-transform:uppercase;
	background-color:#CCFF42;
}

#top_navigation ul li a {
	color:#51732B;
	text-decoration:none;
}

#top_navigation ul li a:hover {
	color:#FFF;
}

#top_navigation li.member, #top_navigation li.moderator, #top_navigation li.admin {
	display: none;
}

/* sub navigation */
#subnavigation {
	
}

/* login form top (hidden by default) */


#login {
	height:0px;
	overflow:hidden;
	background-color:#B3DFE8;
	padding:0px 1em;
	margin-top:0.5em;
	color:#286180;
	opacity: .95;
	filter: alpha(opacity=95);
}

#login form {
	padding:0.3em 0px 0.3em 0px;
	margin: 0px 0px 0.3em 0px;
}

#login input[type="text"] {
	font-weight:bold;
	color:#286180;
}

#login input[type="text"], #login input[type="password"] {
	width:220px;
}

/* all forms */
form {
	background-color:#B3DFE8;
	padding:0.3em 1em 1em 1em;
	margin: 2em 15px 0.3em 0px;
}
form * {
	color: black;
}

form legend {
	color:#286180;
}
form em, form strong {
	background-color: white;
	color:#286180;
	padding:2px 3px 1px 3px;
}
form#logout {
	background-color: inherit;
	color: inherit;
	display: inline;
	margin: 0;
}

form#logout input {
	border: none;
	background-color: transparent;
	display: inline;
	margin: 0;
	padding: 0;
	color: white;
}
form input[type="text"] {
	color:#286180;
}

form input#title {
	font-weight:bold;
	color:#286180;
}

form input[type="text"], #submissions textarea {
	width:300px;
}


form textarea {
	color:#333;
	width:100%;
}

form a {
	color:#B3DFE8;
	background-color:#286180;
	text-transform:uppercase;
	padding:2px 3px 1px 3px;
	font-weight:normal;
	text-decoration:none;
}

form a:hover {
	color:#FFF;
}

form a.button {
	color:#51732B;
}

form label {
	margin-top:0.3em;
	margin-bottom:0px;
	vertical-align: text-bottom;
}

form label.inline {
	margin-right:0.3em;
	display:inline;
}


/* list of sites */



ul#sites-list {
	list-style:none;
	padding:0px;
	margin:0px;
}

ul#sites-list li {
	padding:0px;
}

ul#sites-list li a {
	color:#666;
	display:block;
	padding:0px 6px;
	line-height:25px;
	height:24px;
	width:165px;
	overflow:hidden;
	text-transform:uppercase;
	margin-left:-6px;
	text-decoration:none;
}

ul#sites-list li.featured a {
	color:#AAA;
	font-weight:bold;
}

ul#sites-list li a:hover {
	background:transparent url(/images/link_hover.gif) no-repeat left 50%;
	color:#51732B;
	margin-left:0px;
}

ul#sites-list li a span.comment_count {
	color:#444;
	margin-left:0.3em;
}

/* comments */

#comments {
	clear: both;
}

div.comment {
	margin:0px 15px 1em 0px;
}


/* meta */
#sites .site .meta, #posts .post .meta {
	text-align: right;
	font-size: 95%;
}

.date {
	font-size: 90%;
}
.meta .author, .meta .author a {
	color:#CCFF42;
	text-transform:none;
	margin:0px;
	padding:0px;
	}		

.meta .gravatar {
	float:left;
	margin:20px 10px 5px 0px;
	padding: 0px 0 0 0;
	width:85px;
	background:transparent url(/images/speach.gif) no-repeat right 13px;
	}
	
.meta .gravatar img {
	padding:3px;
	background-color:#DDD;
	border-width:0px;
	}

div.comment div.body {
	margin-left:85px;
	padding:1em 1.5em;
	background-color:#B3DFE8;
	color:#286180;
	min-height:50px;
	}

div.comment div.body p {
	color:#286180;
	margin:0.3em 0px;
}

div.comment div.body a {
	color:#286180;
	text-decoration:underline;
	}






/* trackbacks */


#comments div.trackback {
	margin:1.5em 15px 3.5em 0px;
}

#comments div.trackback h3 {
	border:0px;
	margin:0px 0px 0.5em 0px;
	padding:0px 0px 0px 85px;
	color:#999;
	}
	
#comments div.trackback h3 a, #comments div.trackback h3 a:hover {
	color:#B3DFE8;
	text-transform:none;
	margin:0px;
	padding:0px;
	}	
	
#comments div.trackback div.trackback_text {
	margin-left:85px;
	padding:1em 1.5em;
	background-color:#B3DFE8;
	color:#286180;
	}

#comments div.trackback div.trackback_text p { 
	color:#286180;
	margin:0.3em 0px;
	
}	










/* 	footer */

#footer {
	clear:both;
	padding-top:2.5em;
	text-align: center;
	margin:1.5em 25px;
	color:#666;
}


div#footer ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	color:#999;
	line-height: 2.5em;
}

div#footer ul li {
	display: inline;
	margin:0px 1em;
	white-space: nowrap;
}

div#footer ul li a {
	text-decoration: none;
	color:#B3DFE8;
}

div#footer ul li a.subscribe {
	color:#F93;
	background:#000 url(/images/feed-icon.gif) no-repeat left center;
	padding-left:15px;
	margin-left:3px;
	text-transform:uppercase;
}

div#footer ul li a:hover {
	color:#FFF;
}	








/* entry navigation (next and previous) */


div#entry_nav {
	clear:both;
	padding-top:1.5em;
	padding-bottom:1.5em;
}

div#entry_nav p {
	color:#666;
	margin-bottom:1.5em;
	max-width:200px;
}

div#entry_nav p a {
	color:#B3DFE8;
	text-decoration:none;
}

div#entry_nav p.next {
	float:right;
}

div#entry_nav p.prev {
	float:left;
}





/* user list */

ul.user_list {
	list-style:none;
	margin:0px;
	padding:0px;
}

div#main ul.user_list {
	line-height:60px;
}

ul.user_list li {
	display:inline;
}

ul.user_list li a img {
	border:0px;
	padding:3px;
	background-color:#DDD;
}


div#main ul.user_list {
	line-height:60px;
}

div#main ul.user_list li {
	margin-right:15px;
}

div#main ul.user_list li a img {
	padding:3px;
}

div#first ul.user_list li {
	margin-right:3px;
}

div#first ul.user_list li a img {
	padding:2px;
}

#assets {
	clear: both;
	width: 100%;
	display: inline;
}
.asset.tiny {
float: left;
	width: 70px;
}
#sites, #posts, #comments {
	margin: 0 0 20px 0;
}
#sites, #sites .site, #posts .post {
	clear: both;
}

#front #posts {
	width: 49%;
	float: left;
	position: relative;
	clear: none;
}

#front #comments {
	width: 49%;
	float: right;
	position: relative;
	clear: none;
}
#sites.tiny a img, #sites.tiny a {
	margin: 0 1px 1px 0;
	padding: 0;
}


.site .asset.thumb {
	float: left;
	margin: 0 15px 20px 0;
}
