<div id="comment-<%= comment.id %>">
  <div class="meta">
    <%= comment.user_website ? link_to(comment.user_name, comment.user_website) : comment.user_name %> on <%= comment.created_at.to_s(:long) %>
  </div>
  <%= textilize(comment.body) %>
</div>