<h1>New post</h1>

<%= error_messages_for :post %>

<% form_for(:post, @post, :url => posts_url) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>
