
<div id="sites-thumbs" class="tiny">

<h3>Sites<%= link_to '++', new_site_url(), :title => 'submit a new site', :class => "plus" %></h3>

<% if latest_sites(14).blank? %>
<p>No sites so far</p>
<% else %>
  <% latest_sites(14).each do |site| 
    next if site.screenshot.nil? %>
  <%= link_to image_tag(site.screenshot.public_filename(:tiny), :alt => site.title), site_url(site), :title => [site.title, site.description].join(" - ") %>
  <% end %>
<% end %>
</div>