<% @page_title = 'featured sites' %>


<% for site in @sites %>
<div class="site" id="site-<%= site.id %>">
  <h3><%= link_to h(site.title), site.url %></h3>
  <p><%= textilize(site.description) %></p>
  <%= link_to pluralize(site.comments_count, 'comment'), site %>
</div>  
<% end %>

